.flavor:after { content: 'Classic Traditional'; }
.slogan:after { content: 'Share images with friends.'; }

* {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
}

html, body {
  background: url(../images/background1.png);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  border-top: 10px solid #ffffff;
  padding-top: 25px;
  color: #434A54;
}

body:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #E6E9ED;
}

a, a:hover {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hide {
  display: none;
}

.container {
  position: relative;
}

.theme-changer a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.theme-changer {
  position: absolute;
  color: #000;
  top: 0;
  right: 0;
  background: rgba(255,255,255,0.5);
  padding: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px #000,
              -1px -1px 1px #000,
               1px -1px 1px #000,
              -1px 1px 1px #000;
}

.brand a, .brand a:hover {
  text-decoration: none;
}

.brand h1 {
  color: #fff;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 38px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #000,
              -1px -1px 1px #000,
               1px -1px 1px #000,
              -1px 1px 1px #000,
               1px 1px 1px #000,
               4px 4px 0 #555;
  margin-bottom: 40px;
}

.brand h2 {
  color: #888;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Cedarville Cursive', cursive;
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 1px 1px #000,
              -1px -1px 1px #000,
               1px -1px 1px #000,
              -1px 1px 1px #000,
               1px 1px 1px #000;
}

.stripes {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  position: relative;
  vertical-align: middle;
}

.stripes hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 5px 0;
}

.stripes i {
  background: url(../images/background1.png);
  border-radius: 50%;
  bottom: 0;
  color: #fff;
  display: block;
  font-size: 50px;
  height: 50px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 80px;
  text-shadow: 1px 1px 1px #000,
              -1px -1px 1px #000,
               1px -1px 1px #000,
              -1px 1px 1px #000,
               1px 1px 1px #000;
}

.picture {
  font-family: 'Cedarville Cursive', cursive;
  text-transform: lowercase;
  color: #fff;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  border: 2px solid #E6E9ED;
  display: inline-block;
  margin: 40px auto 20px;
  padding: 15px;
  position: relative;
  text-align: center;
  min-height: 300px;
  line-height: 300px;
  font-size: 36px;
  width: 100%;
  text-shadow: 1px 1px 1px #000,
              -1px -1px 1px #000,
               1px -1px 1px #000,
              -1px 1px 1px #000;
}

.picture img {
  max-width: 100%;
}

.example {
  color: #fff;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 20px;
  line-height: 0px;
  margin: 0 0 20px;
  text-align: center;
  text-shadow: 1px 1px 1px #000,
              -1px -1px 1px #000,
               1px -1px 1px #000,
              -1px 1px 1px #000,
               1px 1px 1px #000;
  text-transform: lowercase;
}

.example i {
  font-family: sans-serif;
  font-size: 50px;
  line-height: 0px;
}

.over {
  border: 5px dotted #fff;
}

.share-button {
  position: relative;
  text-align: center;
  display: none;
}

.share-button button {
  border: 2px solid #fff;
  padding: 10px;
  font-family: 'Cedarville Cursive', cursive;
  background: rgba(255,255,255,0.5);
  color: #fff;
  border-radius: 5px;
  text-shadow: 1px 1px 1px #000,
              -1px -1px 1px #000,
               1px -1px 1px #000,
              -1px 1px 1px #000;
}

.share-button input {
  position: absolute;
  background: #ff0;
  top: 0;
  left: 0;
  opacity: 0.0;
  height: 65%;
  cursor: pointer;
  z-index: 1;
}

.share-button button:hover  {
  background: rgba(255,255,255,0.7);
}

@media screen and (max-width: 480px) {
  .share-button {
    display: block;
    margin: 10px 0 40px;
  }
  .example {
    display: none;
  }
  .theme-changer {
    top: -22px;
    right: 3px;
    margin: 0;
    padding: 10px;
  }
  .brand h2 {
    margin-top: -15px;
  }
  .brand h1 {
    font-size: 35px;
  }
  .picture {
    min-height: 200px;
    line-height: 200px;
    font-size: 25px;
  }
  a, a:hover {
    text-decoration: none;
  }
}

.share {
  color: #fff;
  font-weight: 400;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 16px;
  line-height: 0px;
  margin: 0 0 20px;
  text-align: center;
  text-shadow: 1px 1px 1px #000,
              -1px -1px 1px #000,
               1px -1px 1px #000,
              -1px 1px 1px #000;
}

.share input {
  border-radius: 5px;
  background: #fff;
  border: solid 2px #37BC9B;
  font-size: 16px;
  padding: 25px 10px;
  font-family: 'Source Code Pro', sans-serif;
  background: rgba(255,255,255,0.2);
  border: none;
  box-shadow: none !important;
  width: 100%;
}

.share input:focus {
  border-color: #37BC9B;
}

.footer {
  color: #000;
  font-family: 'Cedarville Cursive', cursive;
  margin-bottom: 20px;
}

.footer h6 {
  font-weight: normal;
  font-family: 'Cedarville Cursive', cursive;
}
